<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog autoReload="true" throwExceptions="true" internalLogToConsole="true" internalLogLevel="Warn">
    <extensions>
      <add assembly="More.NLog" />
    </extensions>
    <targets async="true">
      <target name="console" type="ColoredConsole" layout="[${time}] [${level}] ${message}${onexception:\: ${exception:format=shortType,message,method:maxInnerExceptionLevel=5}}" />
      <target name="telegram" type="Telegram" token="123456789:abcdeffghijklmnopqrstuvwxyz" chatId="123456789" layout="${level:emoji=true} ${time} ${message}${onexception:\: ${exception:format=shortType,message,method:maxInnerExceptionLevel=5}}" />
      <target name="pushbullet" type="Pushbullet" token="abcdeffghijklmnopqrstuvwxyz" title="${level:emoji=true} ${logger:shortName=true}" layout="${level:emoji=true} ${time} ${message}${onexception:\: ${exception:format=shortType,message,method:maxInnerExceptionLevel=5}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="telegram" />
      <logger name="*" minlevel="Trace" writeTo="pushbullet" />
    </rules>
  </nlog>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>