<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" throwExceptions="true" internalLogToConsole="true" internalLogLevel="Warn">
  <extensions>
    <add assembly="More.NLog"/>
  </extensions>
  <targets async="true">
    <target name="console" type="ColoredConsole" layout="[${time}] [${level}] ${message}${onexception:\: ${exception:format=shortType,message,method:maxInnerExceptionLevel=5}}"/>
    <target name="telegram" type="Telegram" token="" chatId="" parsemode="markdown" layout="${level:emoji=true} ${time} _${logger}_&#10;${message}${onexception:`&#10;${exception:format=shortType,message,method:maxInnerExceptionLevel=5}`}" />
    <target name="pushbullet" type="Pushbullet" token="" title="${level:emoji=true} ${time} ${logger}" layout="${message}${onexception:&#10;${exception:format=shortType,message,method:maxInnerExceptionLevel=5}}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,telegram,pushbullet"/>
  </rules>
</nlog>
